.search {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 5vh;

  text-align: center;
}
.search #input {
  margin-bottom: 10px;
  border-radius: 2%;
}
body {
  background-color: #1f9fde;
  background-color: #d2b09b;
  margin: 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#1F9FDE .container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}

.logo {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 40vh;
  border-radius: 100%;
}

.card {
  background-color: whitesmoke;
  border: 1px solid;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.card img {
  height: 400px;
  margin-right: 5vw;
}

.card p {
  background-color: inherit;
}

.logo_text {
  margin-left: 70px;
}
