.search {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 5vh;

  text-align: center;
}
.search #input {
  margin-bottom: 10px;
  border-radius: 2%;
}
body {
  background-color: #1f9fde;
  background-color: #d2b09b;
  margin: 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#1F9FDE .container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}

.logo {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 40vh;
  border-radius: 100%;
}

.card {
  background-color: whitesmoke;
  border: 1px solid;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.card img {
  height: 450px;
  margin-right: 5vw;
}

.card p {
  background-color: inherit;
}

.logo_text {
  margin-left: 70px;
}

.reccomendation {
  display: flex;

  align-items: center;
  justify-items: center;
  justify-content: center;
  min-width: fit-content;
  flex-wrap: wrap;
  gap: 20px;
}

.rec-title {
  width: 100vw;
  text-align: center;
}

.rec-card {
  margin: 10px;
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 20vw;
  height: 45vh;

  text-align: center;
  background-color: white;
  min-width: 250px;
  max-width: 300px;
  max-height: 540px;
  min-height: 450px;
}

.rec-card img {
  width: 15vw;
  height: 35vh;
  min-width: 150px;
  max-width: 225px;
  max-height: 375px;
  min-height: 250px;
  border: saddlebrown solid;
}
